/* Reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
html {
    font-size: 16px;
    font-family: sans-serif;
}

body {
    font-family:'Open Sans',sans-serif;
    line-height: 1.6;
}

.row {
    display: flex;
}

.mb-10 {
    margin-bottom: 10px;
}

.text-white {
    color: #fff;
}

.text-center {
    text-align: center;
}

.full {
    width: 100%;
}

.half {
    flex: 50%;
}

.join-btn {
    border: 2px solid #ef7a2e;
}

.join-btn:hover {
    background-color: #ef7a2e;
    color: #fff;
}

.btn {
    cursor: pointer;
    background-color: inherit;
    font-size: 16px;
    padding: 12px 30px;
}

.sheet {
    position: relative;
    margin: 0 auto;
    width: 1200px;
}
/* Common */

/* Header */
#header {
    height: 60px;
    background-color: black;
    position: fixed;
    z-index: 1;
}

.header__logo {
    width: 60px;
    transform: scale(0.7);
}

.header__menu {
    font-size: 28px;
    margin-top: 10px;
    float: right;
}

.header__menu:hover {
    color: #ef7a2e;
}
/* Header */

/* Intro */
#intro {
    padding-top: 60px;
}

.intro__col-1 {
    background-color: #332e29;
    padding: 100px 60px 0 50px;
}

.intro__content {
    font-size: 40px;
}

.intro__btn {
    margin-top: 35px;
    border: 2px solid #fff;
}

.intro__btn:hover {
    background-color: #fff;
    color: #000;
}

.intro__img {
    display: block;
}

.intro__header {
    position: absolute;
    left: 13%;
    bottom: 20px;
    font-size: 110px;
    text-shadow: 10px 10px rgba(0, 0, 0, 0.6);
    font-style: italic;
}
/* Intro */

/* Line-up */
#line-up {
    background-color: #f0e3d7;
}

.line-up__header {
    font-size: 60px;
    padding-top: 48px;
}

.line-up__under-block {
    width: 116px;
    margin: 20px auto;
    border: 2px solid #ef7a2e;
}

.line-up__title {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: normal;
}

.or-block {
    background-color: #ef7a2e;
    height: 197px;
    margin: 140px 0;
}

.line-up__list {
    flex-wrap: wrap;
    position: absolute;
    top: 20%;
}

.line-up__item {
   flex: 33.333%;
}

.line-up__img {
    width: 60%;
    height: 320px;
    border-radius: 4px;
}

.line-up__btn {
    border: 2px solid #ef7a2e;
    margin-bottom: 45px;
}

.line-up__btn:hover {
    background-color: #ef7a2e;
    color: #fff;
}
/* Line-up */

/* Shirt */
#shirt {
    color: #000;
}

.shirt__col-1 {
    padding: 50px 0;
}

.shirt__col-2 {
    padding-top: 40px;
    border-left: 2px solid #ef7a2e;
}

.shirt__img {
    width: 60%;
    box-shadow: 0 0 10px;
}

.shirt__img:hover {
    opacity: 0.8;
}

.shirt__item {
    margin-bottom: 15px;
}

.shirt__header {
    font-size: 60px;
    letter-spacing: 4px;
}
/* Shirt */

/* Invite */
#invite {
    background-color: #000;
}

#invite .sheet {
    padding: 70px 0;
}

.intite__col-1 {
    color: #000;
}

.intite__col-2 {
    color: #fff;
}

.invite__img-1 {
    border-radius: 4px;
    width: 80%;
}

.invite__header-box {
    background-color: #fff;
    padding: 32px;
    position: absolute;
    bottom: 20%;
    left: 13%;
    min-width: 400px;
}

.invite__under-block {
    border: 2px solid rgba(0, 0, 0, 0.7);
    margin-bottom: 25px;
}

.invite__img-2 {
    width: 40%;
    position: absolute;
    top: 10%;
    border-radius: 4px;
}

.invite__header {
    font-size: 30px;
    text-align: right;
    margin-bottom: 20px;
    font-weight: normal;
}

#invite .join-btn {
    float: right;
}

.invite__title {
    margin-top: -50px;
    font-size: 28px;
    margin-bottom: 20px;
}
/* Invite */


/* Contact */
#contact {
    position: relative;
}

#contact .sheet{
}

.contact__img {
    position: absolute;
    top: -400px;
}

#contact .or-block {
    margin-top: 400px;
}

.contact__box {
    background-color: #fff;
    padding: 60px;
    width: 900px;
    position: relative;
    top: -500px;
    margin: 0 auto;
}

.contact__content {
    flex-wrap: wrap;
}

.contact__item {
    flex: 50%;
    margin-top: 15px;
    padding: 0 8px;
}

.contact__header {
    font-size: 36px;
}

.contact_in {
    background-color: #ddd;
    border: none;
    padding: 20px;
    font-size: 16px;
}

.contact__btn {
    margin-top: 15px;
    background-color: #000;
    color: #fff;
    border: none;
    margin-left: 8px;
}

.contact__btn:hover {
    background-color: #ccc;
    color: #000;
}
/* Contact */

/* Footer */
#footer {
    background-color: #333333;
    padding: 60px;
}

.footer__list {
    font-size: 36px;
    margin-bottom: 15px;
}

.footer__list i:hover {
    opacity: 0.6;
}

#footer a{
    color: #ddd;
}
/* Footer */